section.mission-section {
  padding: 110px 0;
}

section.mission-section .mission-heading-outer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

section.mission-section .mission-heading-inner p.sub-heading {
    color: var(--black-color);
    text-transform: uppercase;
    -webkit-text-stroke: 1px var(--black-color);
    letter-spacing: 1px;
}

section.mission-section .mission-heading-inner h2 {
    text-transform: uppercase;
}

section.mission-section .mission-heading-inner {
    width: 70%;
}

section.mission-section .mission-brand-logo {
    width: 14%;
}

section.mission-section .mission-brand-logo img.branding-logo {
    width: 160px;
    height: 140px;
    object-fit: contain;
}


/* CONTENT SECTION DESIGN CSS CODE ::::::::::::::::::::::::::::::: */

section.mission-section .mission-content-outer {
    padding-top: 50px;
    display: flex;
    align-items: flex-start;
}

section.mission-section .mission-content-image {
    width: 280px;
    height: 280px;
    margin-top: 70px;
}

section.mission-section .mission-content-image img.content-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section.mission-section .mission-content-inner {
    width: 50%;
    margin-left: 50px;
    border-left: 1px solid #ccc;
    padding-left: 60px;
}

section.mission-section .mission-content-inner p {
    padding-bottom: 50px;
}

section.mission-section .container {
    padding-bottom: 200px;
}



/* QUOTE SECTION DESIGN CSS CODE ::::::::::::::::::::::::::::::: */

section.mission-section .container{
    position: relative;
}

.quote-section {
    width: 32%;
    padding: 60px;
    background: var(--light-grey-color);
    position: absolute;
    z-index: 1;
    bottom: -14%;
    right: 0;
}

.quote-section p {
    padding-top: 30px;
}

.quote-section h1 {
    margin-bottom: 0;
    margin-top: 20px;
}

.quote-section h6 {
    margin: -10px 0 0 10px;
    text-transform: uppercase;
}


/* FULL WIDTH IMAGE SECTION DESIGN CSS CODE ::::::::::::::::::::::::::::::: */

.full-width-img {
    position: relative;
    padding-bottom: 34%;
}